<footer class="Footer">
   <div class="Footer_Container">
    <div class="Footer_Container_Top">
        <div class="Footer_Container_Top_Box">
            <div class="Footer_Container_Top_Box_LogoBox">
                <img src="../../../static/images/logo.jpeg" alt="Rozai Logo" class="Footer_Container_Top_Box_LogoBox_Logo">
            </div>
            <p>
                jhyappai is a xyz. jfdskljfskld kfjdkfj jfkdjfdkl jdkfjd fjkdjfkdsjfkds jfdklf djsdlkfjdfkdsjfdskfjmes Paula.
            </p>
        </div>
        <div class="Footer_Container_Top_Box">
            <h4>Customer support</h4>
            <p>984123456</p>
            <p>Pepsicola, kathmandu</p>
            <p>Near peepal bot</p>
            <p>info@jhyappai.com</p>
        </div>
        <div class="Footer_Container_Top_Box">
            <h4>Quick links</h4>
            <p>Daily Needs</p>
            <p>Electronics & Appliances</p>
            <p>Men's Fashion</p>
            <p>Women's Fashion</p>
        </div>
        <div class="Footer_Container_Top_Box">
            <h4>Download App
            </h4>
            <img src="../../../static/images/footer/payment.png" >        
        </div>
    </div>

</footer>